[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE
.vs/
*.csproj
*.sln
*.user

# OS
.DS_Store

# backend python ignores
backend/.venv/
backend/__pycache__/
backend/.pytest_cache/
backend/**/*.pyc
backend/**/.DS_Store
